@import "tailwindcss";
@plugin "daisyui";

@theme {
	--font-sans: "League Spartan", "sans-serif";
}

@plugin "daisyui/theme" {
	name: "TWF";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: #060b0f;
	--color-base-200: #0d1821;
	--color-base-300: #1d3549;
	--color-base-content: #f2edeb;
	--color-primary: #eb4511;
	--color-primary-content: #f1edeb;
	--color-secondary: #736ced;
	--color-secondary-content: #f1edeb;
	--color-accent: #d8dcff;
	--color-accent-content: #0d1821;
	--color-neutral: #f2edeb;
	--color-neutral-content: #0d1821;
	--color-info: oklch(71% 0.143 215.221);
	--color-info-content: #0f1820;
	--color-success: oklch(72% 0.219 149.579);
	--color-success-content: #0f1820;
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: #0f1820;
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: #0d1821;
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 1;
	--noise: 0;
}
